  /* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 body {
    font-family: tahoma;
    overflow: hidden;
 }
 .container {
    margin: 50px auto;
    width: 80vw;
    margin-top: 20rem !important;
 }

 input {
    display: none;

  }
 .head {
    position: relative;
    width: 90%;
    margin: auto;
    height: 100px;
    margin-top: 60px;
    animation: trans .7s linear
    forwards;
 }
  ul.nav {
    padding-top: 15px;
    z-index: 100;
    position: absolute;
    width: 100%;
    margin-top: -40px;
    justify-content: space-between
 }
 ul.nav li {
    list-style: none;
    float: left;
    width: 30%;
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    font-weight: 700;
    transition: all .3s ease;
    vertical-align: middle;
    height: 60px;
    position: relative;
 }
 ul.nav li::before {
    content: '';
    width: 25px;
    height: 25px;
    border: 2px solid #aaa;
    border-radius: 50%;
    margin: auto;
    display: block;
    transition: all .3s ease;
 }
  ul.nav li:hover::before {
    border: 2px solid #fff;
    background: #777;
 }
 ul.nav li .inner {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    font-weight: bolder;
 }
 ul.nav li.active,
 ul.nav li:hover {
    color: #444;
 }
 ul.nav li::after {
    content: '';display: block;
    width: 7px;
    height: 7px;
    background: #777;
    border-redius: 50%;
    margin: auto;
    border-radius: 50%;
    margin: auto;
    border: 7px solid #777;
    margin-top: 40px;
    box-shadow: 0px 0px 10px 0px
    rgba(0,0,0,.2);
 }
 ul.nav li:hover::after,
 ul.nav li.active::after {
    background: blue;
 }
 .line {
    width: 71%;
    margin: auto;
    background: #eee;
    height: 7px;
    position: absolute;
    left: 14.5%;
    top: 44px;
    z-index: 1;
    border-radius: 50px;
 }
   .line span {
    content: '';
    width: 0%;
    height: 100%;
    background-image: linear-gradient(to right, #a29bfe 0%,#ff7675 100%);
    position: absolute;
    z-index: 2;
    border-radius: 50px;
    transition: all .8s ease;
 }
 .content {
    position: relative;
    display: flex;
    justify-content: center;
    animation: anim .7s linear
    forwards;

}
 section {
    width: 70%;
    margin: auto;
    background-image: linear-gradient(to right, #a29bfe 0%,#ff7675 100%);
    border-radius: 4px;
    padding: 30px;
    color: #fff;
 }
 section span {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
 }
 h1 {
    font-weight: 900;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
 }
 section p {
    padding: 30px 40px;
    text-align: center;
    font-weight: bolder;
    font-size: 13px;
 }
 .profile:checked ~ .head .nav
 li.st1::before,

 .settings:checked ~ .head .nav
 li.st1::before,
 .settings:checked ~ .head .nav
 li.st2::before,


 .posts:checked ~ .head .nav
 li.st1::before,
 .posts:checked ~ .head .nav
 li.st2::before,
 .posts:checked ~ .head .nav
 li.st3::before,

 .books:checked ~ .head .nav
 li.st1::before,
 .books:checked ~ .head .nav
 li.st2::before,
 .books:checked ~ .head .nav
 li.st3::before,
 .books:checked ~ .head .nav
 li.st4::before {
    border: 2px solid #fff;
    background: #777;
    transition: all .3s ease;
 }
 .settings:checked ~ .head .line span {
    width: 0%;
 }
 .posts:checked ~ .head .line span {
    width: 50%;
 }
 .books:checked ~ .head .line span {
    width: 100%;
 }

 .profile-section,
 .account-section,
 .post-section,
 .advanced-section {
    transform: scale(0);
    transform-origin: center bottom;
    transition: all .7s ease;
    position: absolute;
    top: 0;
 }

 .profile:checked ~ .content .profile-section,
 .settings:checked ~ .content .account-section,
 .posts:checked ~ .content .posts-section,
 .books:checked ~ .content .advanced-section
 {
    display: block;
    transform: scale(1);
    transform-origin: bottom;
 }
 @keyframes anim {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    50% {
        opacity: .5;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
 }
 @keyframes trans {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    50% {
        opacity: .5;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
 }
 .container-fluid {
    margin-top: 20rem !important;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.container-fluid {
    margin-top: 80rem !important;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap ");

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        font-family: "Poppins", sans-serif;
    }

    .step-wizard {
        /* background-color: #21d4fd; */
        /* background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%); */
        height: 40vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 10rem !important; */
    }
    .step-wizard-list{
        background: #fff;
        box-shadow: 0 15px 25px rgba(0,0,0,0.1);
        color: #333;
        list-style-type: none;
        border-radius: 10px;
        display: flex;
        padding: 60px 200px;
        position: relative;
        z-index: 10;
    }

    .step-wizard-item{
        padding: 0 20px;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive:1;
        flex-grow: 1;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        min-width: 170px;
        position: relative;
    }
    .step-wizard-item + .step-wizard-item:after{
        content: "";
        position: absolute;
        left: 0;
        top: 19px;
        background: #fd4621;
        width: 100%;
        height: 2px;
        transform: translateX(-50%);
        z-index: -10;
    }
    .progress-count{
        height: 40px;
        width:40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-weight: 600;
        margin: 0 auto;
        position: relative;
        z-index:10;
        color: transparent;
    }
    .progress-count:after{
        content: "";
        height: 40px;
        width: 40px;
        background: #fd4621;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: -10;
    }
    .progress-count:before{
        content: "";
        height: 10px;
        width: 20px;
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -60%) rotate(-45deg);
        transform-origin: center center;
    }
    .progress-label{
        font-size: 14px;
        font-weight: 600;
        margin-top: 10px;
    }
    .current-item .progress-count:before,
    .current-item ~ .step-wizard-item .progress-count:before{
        display: none;
    }
    .current-item ~ .step-wizard-item .progress-count:after{
        height:10px;
        width:10px;
    }
    .current-item ~ .step-wizard-item .progress-label{
        opacity: 0.5;
    }
    .current-item .progress-count:after{
        background: #fff;
        border: 2px solid #fd4621;
    }
    .current-item .progress-count{
        color: #fd4621;
    }
