
    /* ปรับความสูงของไอคอนใน input-group */
    .input-group .input-group-text {
        height: 38px; /* ปรับความสูงตามที่ต้องการ */
    }

    /* ปรับความสูงของ input ใน input-group */
    .input-group .form-control {
        height: 38px; /* ปรับความสูงตามที่ต้องการ */
    }

    .row.align-items-center {
        display: flex;
    }

    .row.align-items-center p,
    .row.align-items-center button {
        margin-right: 0px; /* ปรับระยะห่างตามต้องการ */
    }

    .fixed-width-btn {
        width: 60px; /* ปรับความกว้างตามที่คุณต้องการ */
    }

